@using Language=school.Language.Reg.SchoolRegistration.SchoolRegistration;
@model school.Models.schools
@{
    ViewBag.Title = Language.SR;
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}
<body>
    @using (@Html.BeginForm("SchoolRegistration", "admin", FormMethod.Post, new { @class = "form-group" }))
    {
        <div class="header">
            <h2>@Language.SMem</h2>
        </div>
        <br />
        <div class="body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">

                            @Html.TextBoxFor(Model => Model.email, new { placeholder = Language.EmailAddress })
                            <br />
                            <span>  @Html.ValidationMessageFor(Model => Model.email, null, new { style = "color:red" })</span>
                            @*<span style="color:red;"></span>*@


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            @Html.TextBoxFor(Model => Model.pass, new { placeholder = Language.Password })
                            <br />
                            <span>  @Html.ValidationMessageFor(Model => Model.pass, null, new { style = "color:red" })</span>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            @Html.TextBoxFor(Model => Model.confirmpass, new { placeholder = Language.CPassword })
                            <br />
                            <span>  @Html.ValidationMessageFor(Model => Model.confirmpass, null, new { style = "color:red" })</span>

                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            @Html.TextBoxFor(Model => Model.name, new { placeholder = Language.SName })
                            <br />
                            <span>  @Html.ValidationMessageFor(Model => Model.name, null, new { style = "color:red" })</span>


                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            @Html.TextBoxFor(Model => Model.address, new { placeholder = Language.Address })
                            <br />
                            <span>  @Html.ValidationMessageFor(Model => Model.address, null, new { style = "color:red" })</span>

                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">phonelink_ring</i>
                        </span>
                        <div class="form-line">

                            @Html.TextBoxFor(Model => Model.mobile, new { placeholder = Language.MobileNumber })
                            <br />
                            <span>  @Html.ValidationMessageFor(Model => Model.mobile, null, new { style = "color:red" })</span>
                            @*<span style="color:red;"></span>*@


                        </div>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <input class="btn bg-pink btn-lg btn-block waves-effect" type="submit" value="@Language.Save">
                </div>
            </div>


        </div>
    }
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>