@using Language=school.Language.GAS.Grades.Grades;
@model school.Models.grades
@{
    ViewBag.Title =Language.TGrades;
    Layout = "~/Views/Layout/_LayoutPage1.cshtml";
}

<body>
    @using (@Html.BeginForm("Grades", "GAS", FormMethod.Post, new { @class = "form-group", enctype = "multipart/form-data" }))
    {
        <div class="header">
            <h2>@Language.UploadGradesimages</h2>
        </div>
        <br />

        <div class="body">
            <div class="card" style="padding-left:20px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">

                            <div class="form-line" >

                                @*<h4 style="color:black">Activity Details</h4>*@
                                @*<textarea style="font-size:17px;" placeholder="Please type what you want...." name="reportdetails" class="form-control"></textarea>*@
                                @Html.DropDownListFor(Model => Model.GraTypeId, (SelectList)ViewBag.GradeType, Language.ChooseGradeType, new { @class = "form-control" })
                                <span> @Html.ValidationMessageFor(Model => Model.GraTypeId, null, new { style = "color:red" })</span>

                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">

                        <div class="form-line" >

                            @*<h4 style="color:black">Activity Details</h4>*@
                            @*<textarea style="font-size:17px;" placeholder="Please type what you want...." name="reportdetails" class="form-control"></textarea>*@
                            <input type="file" name="gradefile" />

                        </div>
                    </div>
                </div>
            </div>
            </div>

            <br />
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <input class="btn bg-pink btn-lg btn-block waves-effect" type="submit" value="@Language.Save">
                </div>

            </div>
        </div>
        <br />



    }

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>


